    /* Paleta de cores */
    :root {
        --primary-color: #1b5e20; /* Verde escuro */
        --secondary-color: #2e7d32; /* Verde médio */
        --accent-color: #4caf50; /* Verde claro */
        --text-color: #ffffff; /* Branco */
        --background-color: #000000; /* Preto */
    }

    /* Estilização global */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: var(--background-color);
        color: var(--text-color);
    }

    /* Header */
    header {
        background-color: var(--primary-color);
        padding: 20px;
        text-align: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    }

    header h1 {
        margin: 0;
        font-size: 24px;
    }

    header nav {
        margin-top: 10px;
    }

    header nav a {
        color: var(--text-color);
        text-decoration: none;
        margin: 0 15px;
        font-size: 16px;
    }

    header nav a:hover {
        color: var(--accent-color);
    }

    /* Footer */
    footer {
        background-color: var(--secondary-color);
        text-align: center;
        padding: 15px;
        position: relative;
        bottom: 0;
        width: 100%;
    }

    footer p {
        margin: 0;
        font-size: 14px;
    }

    footer a {
        color: var(--accent-color);
        text-decoration: none;
    }

    footer a:hover {
        text-decoration: underline;
    }

    /* Conteúdo principal */
    main {
        font-family: Arial, sans-serif;
            display: flex; /* Ativa o Flexbox */
            flex-direction: column; /* Organiza os elementos em coluna */
            align-items: center; /* Centraliza horizontalmente */
            justify-content: center; /* Centraliza verticalmente */
            text-align: center;
            height: 100vh; /* Preenche toda a altura da tela */
            margin: 0; /* Remove margens padrões */
    }

    img {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px; /* Espaço entre o GIF e o botão */
    }

    button {
        background-color: var(--accent-color);
        color: var(--text-color);
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: var(--secondary-color);
    }